---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar/Navbar.astro"
import Footer from "../components/Footer/Footer.astro"
---

<Layout title="Boundary RSS | Applications">
	<main class="w-screen h-screen bg-black text-white">
		<!-- Applications -->
		<section class="w-full h-full text-center">
			<Navbar />
			<div
				class="flex h-[70%] w-full flex-col items-center justify-center">
				<h1 class="text-4xl font-['Khand'] font-bold sm:text-[5rem]">
					Applications
				</h1>
				<p
					class="text-md font-['Roboto'] font-light mt-2 sm:mt-5 sm:text-[2rem]">
					Learn about our technology and it’s applicability in various
					industries.
				</p>
			</div>
		</section>

		<!-- Data Overview -->
		<section class="w-full h-full flex text-black">
			<div
				class="flex w-[50%] flex-col items-center justify-center p-3 sm:gap-5 sm:p-10 sm:text-left md:p-14">
				<h1
					class="text-center font-['Khand'] text-3xl sm:text-4xl font-bold md:text-6xl">
					Data Overview
				</h1>
				<p
					class="font-['Roboto'] sm:text-lg lg:text-2xl font-light text-center">
					Our data is comprised of 19 datasets with a total of 200 TB
					of data. We have also been expanding on various remote
					sensing techniques / platform types such as : Hyperspectral
					/ SAR / Seismic / Upward Going Muon / Thermal /
					Multispectral / Magnetic / Gravity / Geochemical /
					Geoelectric / Electromagnetic / Bathymetric.
				</p>
			</div>
			<img class="object-cover w-[50%]" src="/home/home-2.jpg" />
		</section>

		<!-- Industry Applications -->
		<section
			class="flex h-full w-full flex-col items-center justify-center gap-3 bg-black px-5 text-white md:flex-row sm:gap-10">
			<img
				class="md:h-[60%] md:w-[50%] border-white border"
				src="/applications/applications-1.jpg"
			/>
			<div
				class="flex flex-col text-center sm:text-left sm:px-10 md:w-[50%]">
				<h1 class="text-4xl sm:text-5xl font-['Khand'] font-bold">
					Industry Applications
				</h1>
				<p class="font-['Roboto'] md:text-xl lg:text-2xl font-light">
					Applications for a spectrum of industries of oceanic oil
					exploration to forestry management, from agricultural
					sustainability, to mineral prospectivity mapping. 
					Subsurface imaging has never been more accessible, accurate
					or applicable See the world beneath our feet and under the
					waves with a detail and precision never before possible all
					in advanced 3D visualizations online and in the field.
				</p>
			</div>
		</section>

		<!-- Have an Idea? -->
		<section
			class="flex h-full w-full flex-col-reverse items-center justify-center gap-3 px-5 text-black sm:flex-row sm:gap-16 sm:px-0">
			<div
				class="flex flex-col items-center text-center sm:pl-9 sm:w-[50%]">
				<h1
					class="font-['Khand'] text-4xl font-bold md:text-5xl lg:text-6xl">
					Have an Idea?
				</h1>
				<p class="font-['Roboto'] font-light sm:text-xl lg:text-2xl">
					We’re committed to crafting solutions that aren't only the
					most effective and impactful for your mission but that also
					uphold our commitment to sustainability. Reach out to us and
					see if there’s an opportunity to bring our technology to
					your industry.
				</p>
				<a
					href="/contact"
					class="mt-3 w-fit rounded-md bg-zinc-800 p-2 font-['Roboto'] text-2xl font-thin text-white sm:mt-10"
					>Contact Us!</a
				>
			</div>

			<img
				class="border-black border max-h-96 sm:w-[50%] sm:max-h-full"
				src="/applications/applications-2.jpg"
			/>
		</section>

		<Footer />
	</main>

	<style></style>
</Layout>
