---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar/Navbar.astro"
import ValueCard from "../components/ValueCard.astro"
import Earth from "../components/Icons/Earth.astro"
import Balance from "../components/Icons/Balance.astro"
import Leaf from "../components/Icons/Leaf.astro"
import Footer from "../components/Footer/Footer.astro"
---

<Layout title="Team">
	<main class="w-screen h-screen bg-black text-white">
		<!-- Applications -->
		<section class="w-full h-full text-center">
			<Navbar />
			<div
				class="flex h-[70%] w-full flex-col items-center justify-center">
				<h1 class="text-4xl font-['Khand'] font-bold sm:text-[5rem]">
					Applications
				</h1>
				<p
					class="text-md font-['Roboto'] font-light mt-2 sm:mt-5 sm:text-[2rem]">
					Learn about our technology and it’s applicability in various
					industries.
				</p>
			</div>
		</section>

		<!-- Data Overview -->
		<section class="w-full h-full flex text-black">
			<div
				class="flex w-[50%] flex-col items-center justify-center text-center px-2 sm:px-10">
				<h1 class="text-3xl sm:text-[5rem] font-['Khand'] font-bold">
					Data Overview
				</h1>
				<p class="text-sm font-['Roboto'] sm:text-[2rem] font-light">
					Our data is comprised of 19 datasets with a total of 200 TB
					of data. We have also been expanding on various remote
					sensing techniques / platform types such as :
					Hyperspectral/SAR/Seismic/Upward Going
					Muon/Thermal/Multispectral/Magnetic/Gravity/Geochemical/Geoelectric/Electromagnetic/Bathymetric.
				</p>
			</div>
			<img class="object-cover w-[50%]" src="/home/home-2.jpg" />
		</section>

		<!-- Industry Applications -->
		<section
			class="w-full h-full flex flex-col text-white bg-black justify-center items-center gap-3 sm:gap-16 sm:flex-row px-5">
			<img
				class="sm:h-[60%] sm:w-[40%] border-white border"
				src="/applications/applications-1.jpg"
			/>
			<div
				class="flex flex-col text-center sm:text-left sm:px-10 sm:w-[50%]">
				<h1 class="text-4xl sm:text-[5rem] font-['Khand'] font-bold">
					Industry Applications
				</h1>
				<p class="font-['Roboto'] sm:text-[2rem] font-light">
					Applications for a spectrum of industries of oceanic oil
					exploration to forestry management, from agricultural
					sustainability, to mineral prospectivity mapping. 
					Subsurface imaging has never been more accessible, accurate
					or applicable See the world beneath our feet and under the
					waves with a detail and precision never before possible all
					in advanced 3D visualizations online and in the field.
				</p>
			</div>
		</section>

		<!-- Have an Idea? -->
		<section
			class="w-full h-full flex flex-col-reverse text-black justify-center items-center gap-3 px-5 sm:px-0 sm:flex-row sm:gap-16">
			<div
				class="flex flex-col items-center text-center sm:w-[50%] sm:px-10 sm:text-left">
				<h1 class="font-['Khand'] text-4xl font-bold sm:text-[5rem]">
					Have an Idea?
				</h1>
				<p class="font-['Roboto'] font-light sm:text-[2rem]">
					We’re committed to crafting solutions that aren't only the
					most effective and impactful for your mission but that also
					uphold our commitment to sustainability. Reach out to us and
					see if there’s an opportunity to bring our technology to
					your industry.
				</p>
				<a
					href="/contact" class="mt-3 w-fit rounded-md bg-zinc-800 p-2 font-['Roboto'] text-2xl font-thin text-white sm:mt-10"
					>Contact Us!</a
				>
			</div>

			<img
				class="border-black border max-h-96 md:max-h-full"
				src="/applications/applications-2.jpg"
			/>
		</section>

		<Footer />
	</main>

	<style></style>
</Layout>
