---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar/Navbar.astro"
import Footer from "../components/Footer/Footer.astro"
import LabelInput from "../components/ContactForm/LabelInput.astro"
---

<Layout title="Boundary RSS | Contact">
	<main class="w-screen h-screen">
		<Navbar />

		<!-- Main Content -->
		<div
			class="flex justify-center xl:gap-10 pt-28 pb-11 px-5 xl:px-36 2xl:px-60">
			<!-- Form Wrapper -->
			<div class="flex flex-col w-[80%] xl:w-1/2">
				<div class="">
					<h1 class="font-['Khand'] text-3xl font-bold xl:text-6xl">
						Contact Us
					</h1>
					<p
						class="font-['Roboto'] text-base sm:text-lg xl:text-2xl font-light">
						The future of subsurface imaging awaits, we’re excited
						to connect with you in the future and look forward to
						each and every message we receive. <br /><br />

						<span class="font-bold">Email :</span>
						info@boundaryrss.com
					</p>
				</div>
				<form
					class="w-full border border-black rounded-md mt-10 px-5 py-5 flex flex-col gap-3">
					<h1 class="font-['Khand'] text-2xl sm:text-3xl">
						Contact Form
					</h1>
					<div class="flex gap-5 flex-col xl:flex-row">
						<LabelInput class="" label="Name" />
						<LabelInput class="" label="Organization Name" />
					</div>

					<LabelInput label="Email" />

					<div class="flex flex-col gap-5 xl:flex-row">
						<LabelInput label="Message Topic" />
						<LabelInput label="Service Category" />
					</div>

					<div class="flex flex-col">
						<label class="font-['Khand'] text-xl">Message</label>
						<textarea class="border border-black p-3"></textarea>
					</div>

					<button
						class="mx-auto w-fit rounded-md bg-zinc-800 p-3 font-['Roboto'] text-white text-xl"
						>Submit</button
					>
				</form>
			</div>

			<!-- Image -->
			<div class="hidden xl:inline w-1/2">
				<img
					class="object-cover w-full h-full"
					src="/contact/contact-1.jpg"
				/>
			</div>
		</div>
		<Footer />
	</main>
</Layout>
