---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar/Navbar.astro"
import TitleDescription from "../components/TitleDescription.astro"
import Footer from "../components/Footer/Footer.astro"
---

<Layout title="Home">
	<main class="w-screen h-screen">
		<!-- Main Home Page 1 -->
		<div
			class="w-full h-full bg-[url('/home/home-1.jpg')] bg-cover bg-center text-center text-white">
			<Navbar />
			<div
				class="flex h-[70%] w-full flex-col items-center justify-center">
				<h1 class="text-6xl font-['Khand'] font-bold sm:text-[5rem]">
					Boundary RSS
				</h1>
				<p class="text-3xl font-['Roboto'] font-light sm:text-[3rem]">
					Revolutionizing Earth’s subsurface data.
				</p>
			</div>
		</div>

		<!-- Our Mission -->
		<div class="w-full h-full flex">
			<div
				class="flex w-[50%] flex-col items-center justify-center text-center px-3 sm:px-10">
				<h1 class="text-4xl font-['Khand'] font-bold sm:text-[5rem]">
					Our Mission
				</h1>
				<p class="text-lg font-['Roboto'] sm:text-[2rem] font-light">
					Boundary will redefine remote sensing data analytics and
					revolutionize the way subsurface Earth insights are derived
					from datasets of all types.
				</p>
			</div>
			<img class="object-cover w-[50%]" src="/home/home-2.jpg" />
		</div>

		<!-- Our Vision -->
		<div
			class="h-full w-full bg-[url('/home/home-3.png')] bg-cover bg-center px-5 pt-40 sm:px-28">
			<!-- Text -->
			<div class="text-white text-center sm:max-w-[50rem]">
				<h1
					class="font-['Khand'] font-bold text-5xl sm:text-[5rem] sm:text-left">
					Our Vision
				</h1>
				<p
					class="font-['Roboto'] font-light text-center text-xl sm:text-[2rem] sm:text-left sm:mt-5">
					We strive to become the dominant world player in geo spatial
					data analytics within 5 years where geo spatial data can
					help us not only develop a more sustainable future not only
					for the surface but the subsurface as well.
				</p>
			</div>
		</div>

		<!-- What we bring to the table -->
		<h1
			class="text-center font-['Khand'] font-bold mt-10 text-4xl sm:text-[5rem]">
			What We Bring to The Table
		</h1>
		<!-- Main Container -->
		<section class="flex flex-col gap-5 py-5 sm:gap-16 sm:px-48 sm:py-20">
			<!-- Impressive Visualizations -->
			<div
				class="flex flex-col items-center gap-2 sm:flex-row sm:gap-10 sm:px-0">
				<div class="px-5 sm:w-[50%] sm:h-[20rem]">
					<img
						class="object-cover w-full h-full"
						src="/home/home-4.png"
					/>
				</div>

				<TitleDescription
					title="Impressive Visualizations"
					description="Digital twins and 3D visualizations of your AOI that will provide immersive insights like never before."
				/>
			</div>

			<!-- Reliable Partner -->
			<div
				class="flex flex-col-reverse items-center gap-2 sm:flex-row sm:gap-10 sm:px-0">
				<TitleDescription
					title="A Reliable Partner"
					description="We are a partner you can rely on no matter the mission or use case we have a unique solution precision molded to fit your needs."
				/>

				<div class="px-5 sm:w-[50%] sm:h-[20rem]">
					<img
						class="object-cover w-full h-full"
						src="/home/home-5.jpg"
					/>
				</div>
			</div>

			<!-- Advance AI Integration -->
			<div
				class="flex flex-col items-center gap-2 sm:flex-row sm:gap-10 sm:px-0">
				<div class="px-5 sm:w-[50%] sm:h-[20rem]">
					<img
						class="object-cover w-full h-full"
						src="/home/home-6.jpg"
					/>
				</div>

				<TitleDescription
					title="Advanced AI Integration"
					description="Where AI meets subsurface imaging and geo spatial data."
				/>
			</div>
		</section>

		<!-- Where We Are -->
		<div
			class="w-full h-full flex flex-col items-center justify-center bg-black gap-3 sm:pr-16 sm:flex-row">
			<img
				class="object-cover h-[20rem] sm:w-[50%] sm:h-screen"
				src="/home/home-7.jpg"
			/>
			<div
				class="flex flex-col justify-center items-center gap-2 text-left text-white sm:w-[50%] sm:px-10">
				<h1
					class="font-['Khand'] font-bold text-center text-4xl sm:text-left sm:text-[5rem]">
					Where We Are
				</h1>
				<p
					class="font-['Roboto'] text-lg font-light px-5 text-center sm:text-[2rem] sm:px-0">
					We’re currently servicing the state of California and the
					world's oceans with plans on expanding to the rest of the
					United States and beyond soon. Check out our core
					applications and see what resources we have available for
					you to utilize today.
				</p>
				<a
					href="/applications"
					class="w-fit bg-zinc-500 font-thin sm:text-2xl font-['Roboto'] p-2 rounded-md"
					>Learn More</a
				>
			</div>
		</div>
		<Footer />
	</main>
</Layout>

<style></style>
