---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar/Navbar.astro"
import ValueCard from "../components/ValueCard.astro"
import Earth from "../components/Icons/Earth.astro"
import Balance from "../components/Icons/Balance.astro"
import Leaf from "../components/Icons/Leaf.astro"
import Footer from "../components/Footer/Footer.astro"
---

<Layout title="Boundary RSS | Team">
	<main class="w-screen h-screen">
		<!-- Team Page -->
		<div class="w-full h-full text-center text-black">
			<Navbar />
			<div
				class="px-1 flex h-[70%] w-full flex-col items-center justify-center pt-[45%] sm:px-0 sm:pt-0">
				<h1
					class="font-['Khand'] text-4xl font-bold xs:text-5xl sm:text-6xl lg:text-7xl">
					Who We Are
				</h1>
				<p
					class="font-['Roboto'] text-md font-light xs:text-xl sm:text-2xl lg:text-4xl">
					Learn who comprises the Boundary RSS team.
				</p>
			</div>
		</div>

		<!-- Who We Are -->
		<!-- Height is not full in order to make text fit the height -->
		<div class="w-full flex bg-black lg:h-full">
			<div
				class="flex w-[50%] flex-col justify-center text-center text-white py-5 sm:px-5 lg:px-14 sm:py-0 sm:text-left">
				<h1
					class="text-xl font-['Khand'] font-bold xs:text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-8xl">
					We are...
				</h1>
				<p
					class="text-xs font-['Roboto'] font-light px-2 sm:px-0 xs:text-sm sm:text-base lg:text-xl xl:text-2xl">
					a group of 25 developers spread across 5 teams of
					algorithms, software, mobile application, server
					development, and data processing.<br /><br /> Our skilled developers,
					researchers and data scientists are drawn from top universities
					and organizations across California and the world. We’ve forged
					unique partnerships with space agencies, academics institutions,
					and private companies to support our conservation goals.
				</p>
			</div>
			<img class="object-cover w-[50%]" src="/team/team-1.jpg" />
		</div>

		<!-- What we bring to the table -->
		<div class="flex flex-col items-center py-20 sm:px-48">
			<h1
				class="text-4xl text-center font-['Khand'] font-semibold sm:mt-10 sm:text-[4rem]">
				Our Core Values
			</h1>
			<!-- Row 1 of Values -->
			<div class="flex flex-col gap-14 mt-14 lg:flex-row">
				<ValueCard
					title="Coexist with Earth"
					description="The Earth is a resource to be managed not exploited.">
					<Earth />
				</ValueCard>

				<ValueCard
					title="Balance"
					description="We are committed to balancing extraction and conservation.">
					<Balance />
				</ValueCard>

				<ValueCard
					title="Environmentalists"
					description="We are an environmentalists first organization.">
					<Leaf />
				</ValueCard>
			</div>

			<!-- Row 2 of values -->
			<div class="flex flex-col gap-14 mt-14 lg:flex-row">
				<ValueCard
					title="Coexist with Earth"
					description="The Earth is a resource to be managed not exploited.">
					<Earth />
				</ValueCard>

				<ValueCard
					title="Balance"
					description="We are committed to balancing extraction and conservation.">
					<Balance />
				</ValueCard>
			</div>
		</div>
		<Footer />
	</main>

	<style></style>
</Layout>
