---
import NavLink from "./NavLink.astro"
import Menu from "../Icons/Menu.astro"
---

<nav
	class="absolute top-0 right-0 bg-zinc-800 w-screen h-20 border-b-4 border-zinc-500 sm:border-none sm:pt-8 flex sm:bg-transparent sm:static">
	<!-- Mobile Version -->
	<button
		id="menu-button"
		class="absolute sm:hidden top-5 right-5 w-12 h-12 text-white">
		<Menu />
	</button>

	<div
		id="nav-links"
		class="text-white absolute right-0 top-[76px] flex hidden flex-col border-4 border-zinc-500 bg-zinc-800 p-4 text-right sm:text-inherit sm:static sm:flex sm:w-full sm:flex-row sm:items-center sm:justify-center sm:gap-5 sm:border-none sm:bg-transparent">
		<NavLink text="Home" url="/" />
		<NavLink text="Team" url="/team" />
		<NavLink text="Applications" url="/applications" />
		<NavLink text="Contact" url="/contact" />
	</div>
</nav>

<script>
	const menuButton = document.querySelector("#menu-button")
	const navLinks = document.querySelector("#nav-links")

	if (menuButton && navLinks) {
		menuButton.addEventListener("click", () => {
			navLinks.classList.toggle("hidden")
		})
	}
</script>
