---
import NavLink from "./NavLink.astro"
---

<nav class="flex justify-center items-center gap-5 pt-8 text-4xl">
	<!-- Logo -->
	<!-- <img class="w-10 h-10" src="/logo.png" /> -->

	<NavLink text="Home" url="/" />
	<NavLink text="Team" url="/team" />
	<NavLink text="Applications" url="/applications" />
	<NavLink text="Contact" url="/contact" />
</nav>
