---
import NavLink from "./NavLink.astro"
import Menu from "../Icons/Menu.astro"
---

<nav
	class="absolute top-0 right-0 bg-black w-screen h-20 sm:pt-8 flex sm:bg-transparent sm:static">
	<!-- Mobile Version -->
	<button
		id="menu-button"
		class="absolute sm:hidden top-5 right-5 w-12 h-12 text-white">
		<Menu />
	</button>

	<div
		id="nav-links"
		class="absolute right-0 top-16 flex hidden flex-col bg-black text-right p-4 rounded-lg text-white sm:static sm:flex sm:w-full sm:flex-row sm:items-center sm:justify-center sm:gap-5 sm:bg-transparent">
		<NavLink text="Home" url="/" />
		<NavLink text="Team" url="/team" />
		<NavLink text="Applications" url="/applications" />
		<NavLink text="Contact" url="/contact" />
	</div>
</nav>

<script>
	const menuButton = document.querySelector("#menu-button")
	const navLinks = document.querySelector("#nav-links")

	if (menuButton && navLinks) {
		menuButton.addEventListener("click", () => {
			navLinks.classList.toggle("hidden")
		})
	}
</script>
