<button
	id="overlay-button"
	class="pointer-events-auto h-[15rem] xs:w-[90%] xs:h-[17rem] sm:h-[20rem] md:h-[35rem] lg:h-[50rem]">
	<div class="w-full h-full" id="player"></div>
</button>

<style>
	/* Ensure the iframe does not capture pointer events */
	#player iframe {
		pointer-events: none;
	}
</style>

<script is:inline>
	var tag = document.createElement("script")
	tag.src = "https://www.youtube.com/iframe_api"
	var firstScriptTag = document.getElementsByTagName("script")[0]
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)

	var player

	function onYouTubeIframeAPIReady() {
		player = new YT.Player("player", {
			width: "100%",
			height: "100%",
			videoId: "vutJuPW9aPo",
			playerVars: {
				autoplay: 1,
				controls: 0,
				mute: 1,
				fs: 0,
				modestbranding: 1,
				rel: 0,
				playsinline: 1,
			},
			events: {
				onReady: onPlayerReady,
				onStateChange: onPlayerStateChange,
			},
		})
	}

	function onPlayerReady(event) {
		event.target.playVideo()

		// Set pointer-events to 'none' on the iframe to allow clicks to pass through
		var iframe = event.target.getIframe()
		iframe.style.pointerEvents = "none"
	}

	function onPlayerStateChange(event) {}

	function stopVideo() {
		player.stopVideo()
	}

	document
		.getElementById("overlay-button")
		.addEventListener("click", function () {
			player.seekTo(0)
			player.unMute()
			var iframe = document.querySelector("#player")
			if (iframe.requestFullscreen) {
				iframe.requestFullscreen()
			} else if (iframe.mozRequestFullScreen) {
				/* Firefox */
				iframe.mozRequestFullScreen()
			} else if (iframe.webkitRequestFullscreen) {
				/* Chrome, Safari & Opera */
				iframe.webkitRequestFullscreen()
			} else if (iframe.msRequestFullscreen) {
				/* IE/Edge */
				iframe.msRequestFullscreen()
			}
		})
</script>
