---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<div class="px-10 text-center font-['Roboto'] sm:w-[50%]">
	<h1 class="text-zinc-700 text-2xl sm:text-[3rem]">{title}</h1>
	<p class="text-med sm:text-2xl font-light">{description}</p>
</div>
