---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<div class="md:px-10 text-center font-['Roboto'] sm:w-[50%]">
	<h1 class="text-zinc-700 text-3xl md:text-4xl lg:text-5xl">{title}</h1>
	<p class="text-med sm:text-lg md:text-xl lg:text-2xl font-light">{description}</p>
</div>
