---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<div
	class="flex max-w-[19rem] flex-col items-center rounded-md border-2 border-zinc-600 p-3 text-center font-['Roboto'] transition duration-300 ease-in hover:border-blue-500">
	<!-- Icon Container -->
	<div class="w-8 h-8">
		<slot />
	</div>

	<h2 class="font-bold text-2xl">{title}</h2>
	<p class="text-xl font-light">{description}</p>
</div>
