---
import FooterLink from "./FooterLink.astro"
import Twitter from "../Icons/Twitter.astro"
---

<div
	class="flex flex-col w-screen gap-4 py-16 md:py-0 md:gap-10 bg-zinc-900 px-10 lg:pl-48 text-white md:flex-row">
	<!-- Footer Links -->
	<div
		class="flex flex-col gap-5 font-['Khand'] text-3xl md:w-1/2 lg:text-4xl md:border-zinc-600 md:py-16 border-l border-zinc-600">
		<FooterLink text="Team" url="/team" />
		<FooterLink text="Applications" url="/applications" />
		<FooterLink text="Contact" url="/contact" />
	</div>

	<!-- Footer Company Section -->
	<div class="flex flex-col md:w-1/2 gap-2 md:py-16">
		<div class="flex items-center">
			<h1 class="text-4xl">Boundary RSS</h1>
			<img class="h-8 w-8 ml-3" src="logo-white.png" />
		</div>
		<p class="text-xl">Email : info@boundaryrss.org</p>
		<Twitter />
	</div>
</div>
