---
import FooterLink from "./FooterLink.astro"
---

<div
	class="flex h-20 w-screen items-center justify-center gap-10 bg-zinc-900 text-white">
	<FooterLink text="Team" url="/team" />
	<FooterLink text="Applications" url="/applications" />
	<FooterLink text="Contact" url="/contact" />
</div>
