---
import FooterLink from "./FooterLink.astro"
import Twitter from "../Icons/Twitter.astro"
---

<div
	class="text-center font-['Khand'] flex flex-col w-screen gap-4 py-16 md:text-left md:py-0 md:gap-10 bg-zinc-900 px-10 lg:pl-48 text-white md:flex-row">
	<!-- Footer Links -->
	<div
		class="flex flex-col gap-5 border-b md:border-l md:border-b-0 border-zinc-600 text-3xl md:w-1/2 md:border-zinc-600 md:py-16 lg:text-4xl">
		<FooterLink text="Team" url="/team" />
		<FooterLink text="Applications" url="/applications" />
		<FooterLink text="Contact" url="/contact" />
	</div>

	<!-- Footer Company Section -->
	<div
		class="items-center flex flex-col md:w-1/2 gap-2 md:py-16 md:items-baseline">
		<a href="/" class="flex">
			<h1 class="text-4xl md:text-5xl">Boundary RSS</h1>
			<img class="h-10 w-10 ml-3" src="/logo-white.png" />
		</a>
		<p class="text-2xl">Email : info@boundaryrss.org</p>
		<div class="text-2xl flex gap-2 items-center">
			<p>Social Media :</p>
			<a href="https://x.com/boundaryRSS"><Twitter /></a>
		</div>
	</div>
</div>
